<div class="spaceLaunchHome">
  <div class="launchScreen">
    <h2>SpaceX Launch Programs</h2>

    <div class="cardMaster">

      <div *ngFor="let space of spaceResponse" class="card">
        <img src="{{space.links.mission_patch_small}}" alt="Image"> <br />
        <ul class="cardInfo">
          <li class="cardName"> {{space.mission_name}}#{{space.flight_number}}</li>
          <li class="missionId">MissionIds:</li>
          <li class="launch"> Launch Year: <span class="launchYr"> {{space.launch_year}}</span> </li>
          <li class="success">Successfull Launch: <span class="successBoolean">{{space.upcoming}}</span> </li>
          <li class="landing"> Successfull Landing: </li>
        </ul>
      </div>



    </div>

  </div>
</div>